#numeros {
    overflow: hidden;
    position: relative;

    padding-block: 8rem;
}

#numeros img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

#numeros img.bg.desktop {
    display: none;
}

#numeros .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
}

#numeros header h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

#numeros header h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#numeros .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#numeros .borderCard {
    width: 100%;
    background: linear-gradient(130deg, #5a5a5a, #161616 30%);
    padding: .2rem;
    border-radius: 1.2rem;
}

#numeros .card {
    position: relative;
    width: 100%;
    padding: 2rem;
    padding-top: 4rem;
    border-radius: 1rem;

    background: linear-gradient(130deg, #1C1C1C, #080808);

    display: flex;
    align-items: center;
    gap: 1rem;
}

#numeros .card h3 {
    background: var(--gradient);
    color: #000000;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 0 0 1rem 1rem;
    font-weight: 800;

    position: absolute;
    top: -11%;
}

#numeros .card p {
    font-size: 1.4rem;
    color: #bcbcbc;
    text-align: left;
}

#numeros .card p span {
    color: #d1d1d1;
    font-weight: 800;
}

#numeros a {
    width: 100%;
}

#numeros h2 {
    margin-top: 3rem;

    font-size: 1.8rem;
    color: #fff;
    margin-bottom: .5rem;
}

#numeros h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#numeros h3 {
    font-size: 1.4rem;
    color: #b8b8b8;
    font-weight: 400;
}

@media (min-width: 1080px)  {
    section#numeros header h2 {
        font-size: 4rem;
        margin-bottom: 5rem;
    }

    section#numeros img.bg.desktop {
        display: inherit;
    }

    section#numeros img.bg.mobile {
        display: none;
    }

    section#numeros .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    section#numeros a {
        width: initial;
    }

    section#numeros .card {
        padding: 3rem;
        padding-top: 5rem;
    }

    section#numeros .borderCard:nth-child(3) .card p {
        font-size: 1.7rem;
    }
 }
