#bonus {
    overflow: hidden;
    position: relative;

    padding-block: 8rem;
}

#bonus img.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
}

#bonus img.bg.desktop {
    display: none;
}

#bonus .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    z-index: 2;
}

#bonus header h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 5rem;
}

#bonus header h2 span {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#bonus .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

#bonus .borderCard {
    width: 100%;
    background: linear-gradient(130deg, #5a5a5a, #161616 30%);
    padding: .2rem;
    border-radius: 1.2rem;
}

#bonus .card {
    position: relative;
    width: 100%;
    padding: 2rem;
    padding-top: 3.5rem;
    border-radius: 1rem;

    background: linear-gradient(130deg, #1C1C1C, #080808);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#bonus .card h3 {
    background: var(--gradient);
    color: #000000;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 0 0 1rem 1rem;
    font-weight: 800;

    position: absolute;
    top: -11%;
}

#bonus .card h4 {
    font-size: 1.6rem;
    text-align: center;
    color: #d4d4d4;
    font-weight: 600;
}

#bonus .card h4 span {
    color: #ffffff;
    font-weight: 800;
}

#bonus .card h4 span.line {
    color: #ffc2c2;
    text-decoration: line-through;
}

#bonus .card h4 span.small {
    color: #bdbdbd;
    font-weight: 400;
}

#bonus .card p {
    font-size: 1.4rem;
    color: #bcbcbc;
    text-align: center;
}

#bonus .card p span {
    color: #d1d1d1;
    font-weight: 800;
}

#bonus a {
    width: 100%;
}

@media (min-width: 1080px)  {
    section#bonus header h2 {
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    section#bonus img.bg.desktop {
        display: inherit;
    }

    section#bonus img.bg.mobile {
        display: none;
    }

    section#bonus .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    section#bonus a {
        width: initial;
    }

    section#bonus .card {
        padding: 3rem;
        padding-top: 5rem;
    }
 }
